.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Fondo gris oscuro */
    padding: 10px 20px;
    color: #fff; /* Texto blanco */
}

.logo img {
    height: 60px;
}

.menu {
    position: relative;
}

.menu button {
    background-color: #555; /* Botón gris medio */
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #fff; /* Texto blanco */
}

#dropdown-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #fff; /* Fondo blanco */
    border-right: 1px solid #ddd; /* Borde gris claro */
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    color: #333; /* Texto gris oscuro */
}

#dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#dropdown-menu li {
    padding: 15px 20px;
    cursor: pointer;
    border-bottom: 1px solid #ddd; /* Borde gris claro */
}

#dropdown-menu li:hover {
    background-color: #f1f1f1; /* Fondo gris claro al pasar el ratón */
}

#dropdown-menu.show {
    transform: translateX(0);
}

#close-menu {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    padding: 10px;
    color: #333; /* Texto gris oscuro */
}

.access button {
    background-color: #555; /* Botón gris medio */
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #fff; /* Texto blanco */
}

.carousel {
    position: relative;
    width: 70%; /* Ajustado para que use todo el ancho disponible */
    max-width: 200px;
    margin: auto;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    min-width: 100%;
}

.carousel-slide img {
    width: 100%;
    vertical-align: middle;
}

.carousel-caption {
    position: absolute; /* Cambiado a absoluto para una mejor superposición */
    bottom: 8px;
    left: 16px;
    color: #fff; /* Texto blanco */
    padding: 10px;

}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    color: white;
    border: none;
    cursor: pointer;
    padding: 7px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
