/*
Mateo
*/
body{
    padding: 0;
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  white; /* Fondo gris oscuro */
    padding: 5px 30px;
    color: #fff; /* Texto blanco */

}
.logo img {
    height: 40px;
}

.menu {
    position: relative;
}

.menu button {
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #000000; 
    border-radius: 5px;
    background-color: none;
}

#dropdown-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #fff; /* Fondo blanco */
    border-right: 1px solid #ddd; /* Borde gris claro */
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    color: #333; /* Texto gris oscuro */
}

#dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#dropdown-menu li {
    padding: 15px 20px;
    cursor: pointer;
    border-bottom: 1px solid #ddd; /* Borde gris claro */
}

#dropdown-menu li:hover {
    background-color: #f1f1f1; /* Fondo gris claro al pasar el ratón */
}

#dropdown-menu.show {
    transform: translateX(0);
}

#close-menu {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    padding: 10px;
    color: #333; /* Texto gris oscuro */
}

.access button {
    background-color: #ffdd00; /* Botón gris medio */
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: #000000; /* Texto blanco */
    
}

.carousel {
    position: relative;
    width: 100%; /* Ajustado para que use todo el ancho disponible */
    margin: auto;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    min-width: 100%;
}

.carousel-slide img {
    width: 100%;
    vertical-align: middle;
}

.carousel-caption {
    position: absolute; /* Cambiado a absoluto para una mejor superposición */
    bottom: 8px;
    left: 16px;
    color: #fff; /* Texto blanco */
    padding: 10px;

}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    color: white;
    border: none;
    cursor: pointer;
    padding: 7px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/*
Jeyner Manzaba
*/

.container-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container-card {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 70%;
    overflow: hidden;
    position: relative; 
}

.title {
    font-size: 28px;
    margin-bottom: 10px;
    color: #0f265c;
    font-family: "preloslab-book";
}

.subtitle {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.carousel-card {
    display: flex;
    overflow-x: hidden; 
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.carousel-controls {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin: auto; 
    bottom: 105px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.carousel-controls .control {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #747477;
    margin: 0 10px; 
}

.carousel-controls .control:hover {
    color: #3d3d3d;
}
